# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
*.env

# Prisma
server/prisma/dev.db
server/prisma/dev.db-journal

# Build outputs
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
